.DS_Store
*.swp
*~
.idea
*.codekit
*.mp4
*.m4v
*.mp3
*.ogg
*.ogv
*.webm
*.zip
config.codekit
nbproject
/nbproject/private/
/media/
/medias/
/uploads/
.sass-cache/*
.sass-cache*
.sass-cache
.AppleDouble/*
.AppleDouble*
.AppleDouble
/node_modules/
package-*.json
.fuse_hidden*
todo
/node/