
/* strip A */

.A01 {
  .case {
    background-image: url(../img/hd/A-01.jpg);
  }
}

.A02 {
  .case {
    background-image: url(../img/hd/A-02.jpg);
  }
}

.A03 {
  .case {
    background-image: url(../img/hd/A-03.jpg);
  }
}

.A04 {
  .case {
    background-image: url(../img/hd/A-04.jpg);
  }
}

.A05 {
  .case {
    background-image: url(../img/hd/A-05.jpg);
  }
}

.A06 {
  .case {
    background-image: url(../img/hd/A-06.jpg);
  }
}

.A07 {
  .case {
    background-image: url(../img/hd/A-07.jpg);
  }
}

